*~*
*.orig
*.class
*closure
target
target/
target/classes
target/classes/
classpath
.settings
*stacktrace
.classpath
.project
grails-app/i18n
web-app/WEB-INF/classes
web-app/WEB-INF/
stacktrace.log
dtd/
.metadata
